Options +FollowSymLinks
RewriteEngine On
RewriteRule 	^([a-zA-Z0-9_-]+)/$	 index.php?page=$1 		[NC,L]
RewriteRule 	^([a-zA-Z0-9_-]+)$	 index.php?page=$1 		[NC,L]
# не позволять httpd отдавать файлы, начинающиеся с точки (.htaccess, .svn, .git и прочие)
RedirectMatch 403 /\..*$
# если директория или файл существуют, использовать их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# иначе отправлять запрос на файл index.php
RewriteRule . index.php