DirectoryIndex index index.php
DirectorySlash off
Options -Indexes -Multiviews

RewriteEngine On
RewriteBase /wiki/
RewriteCond %{REQUEST_URI} \.(css|jpg|gif|png|zip|rar|doc|xls|js|tif|tiff|docx|xlsx|ico)$
    RewriteRule ^(.*)$ $1 [L,QSA]

RewriteCond %{REQUEST_URI} ^[\w\-.]+$
RewriteCond %{REQUEST_FILENAME} (.*)\.(html|php)$
RewriteCond %1.php -s [OR]
RewriteCond %1.html -s
    RewriteRule . %1.%2 [L,QSA]

RewriteRule 	^(.*)$     index.php?page=$1 		[L,QSA]
# не позволять httpd отдавать файлы, начинающиеся с точки (.htaccess, .svn, .git и прочие)
# RedirectMatch 403 /\..*$
# если директория или файл существуют, использовать их напрямую
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule . index.php
