body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.zeromargin {
	margin: 0 !important;
	padding-top: 30px !important;
	border: 0 !important;
}

#page_header {
	top: 0;
	margin: 0 !important;
	position: fixed;
	z-index: 999;
	padding: 3px 30px 0 20px;
	width: 100%;
	min-height: 30px;
	height: auto;
	opacity: 1;
	-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
	color: rgb(0, 0, 0);
	font-size: 15px;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid #ddd;
}

#page_header .text {
	font-family: sans-serif;
	display: inline-block;
	float: left;
}

#page_header .right {
	margin-right: 45px;
	float: right;
}

.text a {
	color: #0645ad;
}

.text a:visited {
	color: #003366;
}

.startpage_button {
	margin-left: 20px;
}

.newgame_button {

}

.label {
	display: inline;
	margin-top: -1px !important;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	margin-bottom: 1px;
}

.label a:hover {
	text-decoration: none;
}

.label a:visited {
	color: #fff;
}

.label-danger {
	background-color: #d9534f;
}

.label-warning {
	background-color: #f0ad4e;
}

.label-success {
	background-color: #5cb85c;
}

.share42init {
	margin-top: -13px;
}

.congrats_playagain {
	margin-top: 5px;
}


/**
* SHOWWAYS
*/

#showways {
	margin: 10px 0 0 10px;
}

.way {
	display: block;
	/*border: 1px solid #666;*/
	border-bottom: none;
	width: auto;
	min-width: 600px;
	padding: 5px;
	min-height: 90px;
	height: inherit;
	position: relative;
}

#showways .number {
	width: 50px;
	text-align: center;
	float: left;
}

#showways .hash {
	width: 100px;
	float: left;
	text-align: center;
}

#showways .way_nodes {
	margin: 0;
	min-width: 400px;
	width: auto;
	float: left;
}

#showways .node {
	position: relative;
	display: block;
}

#showways .verified {
	width: 50px;
	float: left;
	text-align: center;
}

#showways .delete {
	width: 70px;
	float: left;
	text-align: center;
}

.delete .link {
	text-decoration: none;
}

#showways .depth, #showways .links {
	width: 50px;
	float: left;
	text-align: center;
}

#way div {
	display: inline;
}

.jslink {
	cursor: pointer;
	color: blue;
}

.jslink:hover {
	text-decoration: underline;
}