body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.zeromargin {
	margin: 0 !important;
	border: 0 !important;
}

.text a {
	color: #0645ad;
}

.text a:visited {
	color: #003366;
}

.startpage_button {
	margin-left: 20px;
}

.sharebtn {
    display: inline-block;
    background-image: url(http://share.pluso.ru/img/pluso-like/square/big/01.png);
    margin: 5px 0 0 5px;
    padding: 0;
    width: 40px !important;
    height: 40px !important;
    cursor: pointer;
}
.vk {
    background-position: -168px 0;
}
.fb {
    background-position: -0px 0;
}
.gp {
    background-position:-252px 0;
}
.tw {
    background-position: -42px 0;
}

.congrats_playagain {
	margin-top: 5px;
}


/**
* SHOWWAYS
*/

#showways {
	margin: 10px 0 0 10px;
}

.way {
	display: block;
	/*border: 1px solid #666;*/
	border-bottom: none;
	width: auto;
	min-width: 600px;
	padding: 5px;
	min-height: 90px;
	height: inherit;
	position: relative;
}

#showways .number {
	width: 50px;
	text-align: center;
	float: left;
}

#showways .hash {
	width: 100px;
	float: left;
	text-align: center;
}

#showways .way_nodes {
	margin: 0;
	min-width: 400px;
	width: auto;
	float: left;
}

#showways .node {
	position: relative;
	display: block;
}

#showways .verified {
	width: 50px;
	float: left;
	text-align: center;
}

#showways .delete {
	width: 70px;
	float: left;
	text-align: center;
}

.delete .link {
	text-decoration: none;
}

#showways .depth, #showways .links {
	width: 50px;
	float: left;
	text-align: center;
}

#way div {
	display: inline;
}

.jslink {
	cursor: pointer;
	color: #0645ad;
}

.jslink:hover {
	text-decoration: underline;
}

.vklink {
	padding: 1px 4px;
	background-color: rgba(0, 0, 51, 0.4);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.vklink:hover{
	text-decoration: none;
}

#cats {
	color: #333;
	text-shadow: none !important;
}

.list-group {
	text-align: left;
}


/**
* NAVBAR
*/

.navbar {
    padding: 0;
}

.navbar li {
    word-spacing: 0;
}

.navbar li a {
	color: #000 !important;
}

ul.navbar-nav,
ul.navbar-nav li {
    display: block !important;
}

ul.navbar-nav li.dropdown ul.dropdown-menu li {
	margin-bottom: 1px !important;
}

ul.navbar-nav li.dropdown ul.dropdown-menu li a:hover,
ul.navbar-nav li.dropdown.open a.dropdown-toggle,
ul.navbar-nav li.hovered a:hover {
	background-color: #6699FF !important;
	color: #fff !important;
}

canvas {
	display: none !important;
}

.main_logo {
	height: 200px;
	-webkit-filter: drop-shadow( 0 1px 3px rgba(0,0,0,0.5));
    filter: drop-shadow( 0 1px 3px rgba(0,0,0,0.5));;
}

.header_logo {
	height: 160px;
}