RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(/|.css)$ [NC]
RewriteCond %{REQUEST_URI} !(/|.js)$ [NC]
RewriteRule . index.php [L]