html,
body {
    height: 100%;
}

body {
    background: url('/application/images/background.jpg') no-repeat #333 center center;
    color: #fff;
    text-shadow: 0 1px 3px rgba(1, 0, 0, .5);
}

a, a:hover {
    color: #fff;
}

.wrapper {
    /*display: -ms-flex;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-ms-flex-direction: column;*/
    /*-webkit-flex-direction: column;*/
    /*flex-direction: column;*/
    /*-webkit-justify-content: space-between;*/
    /*justify-content: space-between;*/
    /*min-height: 100%;*/
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .wrapper {
        height: 100%;
    }
}

.navbar {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding-top: 15px;
}

.navbar .container {
    height: 59px;
}

.navbar-header {
    border: none;
}

.navbar-header .header_logo {
    height: 30px;
    -webkit-filter: drop-shadow( 0 1px 3px rgba(0,0,0,0.5));
    filter: drop-shadow( 0 1px 3px rgba(0,0,0,0.5));
}

.navbar-header.pull-right {
    margin-right: 0 !important;
    margin-top: 18px;
}

.navbar-header.pull-right .btn {
    font-size: 12pt;
}

.navbar .btn{
    text-shadow: none;
}

.greating {
    margin-top: 50px;
    text-align: center;
}

.greating .lead {
    line-height: 1.5;
}

.greating .btn {
    padding: 10px 40px;
}

.alert-danger {
    text-shadow: none;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 7px;
}

.form-signin input.form-control {
    background-color: rgba(255, 255, 255, 0.9);
}

.form-signin button {
    height: 42px;
    font-size: 17px;
    font-weight: 400 !important;
}

.socials {
    margin: 0;
}

.fa {
    font-size: 25px !important;
    margin-top: 2px;
}

.soclogin {
    padding: 0 2px;
}

.footer {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.vklink {
    padding: 1px 4px;
    background-color: rgba(0, 0, 51, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.vklink:hover {
    text-decoration: none;
}

@media (max-width: 515px) {
    #signup {
        display: none;
    }
}

@media (min-width: 768px) {
    .greating-left {
        text-align: left;
        margin-top: 50px;
    }

    .greating .cover-heading {
        font-size: 50px;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
}

.modal {
    text-shadow: none;
}

.modal-header {
    text-align: center;
    color: #000;
}

#stats {
    color: #333;
    text-shadow: none !important;
}

#stats .carousel-inner {
    box-shadow: none !important;
}

#stats .carousel-control {
    background-image: none;
    color: #333;
    cursor: pointer;
    width: 50%;
}

#stats .list-group-item {
    background-color: none;
    background: url('/w/img/stats-back.png') repeat;
    border-color: #272727;
}

#stats .list-group-item .fa {
    font-size: 1em !important;
}

#stats #top-users .list-group-item .fa {
    font-size: 0.8em !important;
}

#stats .list-group-item,
#stats .list-group-item-heading,
#stats .list-group-item div {
    color: #eee;
}

#stats .list-group-item.active
> .list-group-item-heading {
    color: #333;
}

#stats .list-group-item.active,
#stats .list-group-item .badge {
    background-image: none;
    background-color: #e7e7e7;
    border-color: #666;
    color: #333;
}

#stats .list-group-item.active .badge {
    background-color: #666;
    color: #eee;
}

.btn-white {
    background-color: #e7e7e7 !important;
    /*border-color: #ccc !important;*/
}

.btn-white:hover {
    background-color: #d7d7d7 !important;
}

.jslink {
    cursor: pointer;
    color: #3399FF !important;
}

#multi {
    color: #333;
    font-size: 16px;
}

#multi a {
    color: #0645ad;
}

.submit-button:focus {
    outline: 0 !important;
}

#loginform .row {
    margin: 0 !important;
}

#loginform label {
    font-weight: normal !important;
}
span.glyphicon.glyphicon-thumbs-up, span.glyphicon.glyphicon-thumbs-down {
    font-size: 22px;
}